<div class="col-md-12" style="margin-top: 40px;">
  <div class="card">
    <div class="card-header">
      <h5 style="color: #F3A701; font-size: 20px;">SWIFT MESSAGES</h5>
    </div>
  </div>
  <div class="bt-wizard" id="tabswizard">
    <ul class="nav nav-pills">
      {{! <li class="nav-item"><a
          href="#tabs-t-tab1"
          class="nav-link rounded-0"
          data-toggle="tab"
        >Messages</a></li> }}
      <li class="nav-item"><a
          href="#tabs-t-tab2"
          class="nav-link rounded-0"
          data-toggle="tab"
        >Message Detail</a></li>
      {{! <li class="nav-item"><a href="#tabs-t-tab3" class="nav-link rounded-0" data-toggle="tab">Final</a></li> }}
    </ul>
    <div class="tab-content card">
      <div class="pt-1 bg-primary"></div>
      {{! <div
        style=" justify-content:center; padding-top:100px; width: 100%; align-items:center;"
        class="tab-pane card-body pt-4 active show"
        id="tabs-t-tab1"
      >
        <div
          class="card"
          style="display:flex; justify-content:center;  width: 100%; align-items:center; margin-top: 30px;"
        >
          <div
            style="margin-top: 50px; margin-bottom: 30px; "
            class="col-sm-6 p-4 ml-auto mr-auto mt-4 mb-4"
          >
            <div
              class="form-group"
              style="display: flex; margin-left: auto; margin-right: auto; justify-content:center; align-items:center"
            >
              <select
                style="height: 70px; width:auto"
                class="js-example-placeholder-multiple col-sm-6"
              >
                <option style="font-size: 70px;" value="0">Select Message</option>
                <a href="/swift/createmessage/102">
                  <option value="mt102">
                    MT102
                  </option>
                </a>
                <option value="mt104">MT104</option>
                <option value="mt105">MT105</option>
              </select>
            </div>
          </div>
        </div>
      </div> }}
      <div class="tab-pane card-body pt-4 active show" id="tabs-t-tab1">
        <div class="card user-profile-list">
          <div class="card-body">

            <div class="dt-responsive table-responsive">
              <table id="basic-btn" class="table nowrap">

                <thead>
                  <tr>
                    <th>Action</th>
                    {{#each list}}
                      <th>{{title}}</th>
                    {{/each}}
                    {{! <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Currency</th>
                    <th>Flow</th>
                    <th>Customer</th>
                    <th>Beneficiary</th>
                    <th>Amount</th>
                    <th>Refrence</th>
                    <th>Sender</th>
                    <th>Receiver</th> }}

                  </tr>
                </thead>
                <tbody>
                  {{#each list1}}

                    <tr>

                      <td>
                        <span class="badge badge-light-success"></span>
                        <div class="overlay-edit">
                          {{#data}}
                            <input
                              type="hidden"
                              id="msgdata"
                              name="msgdata"
                              value="{{this}}"
                            />
                          {{/data}}
                          <button
                            type="button"
                            class="btn btn-icon btn-success"
                            data-toggle="modal"
                            data-target="#modal-report"
                            id="msgmodal"
                          ><i
                              class="feather icon-eye"
                              style="color: white;"
                            ></i></button>

                          {{! <a
                            href="/swift/messagepreview"
                            class="btn btn-icon btn-success"
                          ><i
                              class="feather icon-eye"
                              style="color: white;"
                            ></i></a> }}

                        </div>
                      </td>

                      {{! <td>
                      28/11/2021
                    </td>
                    <td>10:00pm</td>
                    <td><span class="badge badge-success">Seen</span></td>
                    <td>GHS</td>
                    <td>Inward</td>
                    <td>Albert Ghansah</td>
                    <td>Rich</td>
                    <td>2000</td>
                    <td>123546</td>
                    <td>King</td> }}
                      {{#data}}
                        <td>{{this}}</td>

                      {{/data}}

                    </tr>

                  {{/each}}
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row card-footer justify-content-between mx-0 btn-page">

      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modal-report"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: #F3A701;">Message Preview</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12" style="margin-top: 15px;">
          <div class="msgResponsive">
            <div class="col-sm-12">
              <div
                style="display:flex; flex-direction:row; width: 100%;  align-items:center; padding-top:6px"
                class="card col-sm-12"
              >

                <div
                  style="display:flex; justify-content:flex-end; padding-right: 10px; width: 30%; align-items:center;"
                >
                  <p style="font-size: 13px; font-weight:bold">REF:</p>
                </div>

                <div
                  style="display:flex; justify-content:flex-start; padding-left: 20px; flex: 1; align-items:center;"
                >
                  <p style="font-size: 13px;">123456789</p>
                </div>

              </div>

              <div
                style="display:flex; flex-direction:row; width: 100%;  align-items:center; padding-top:6px"
                class="card col-sm-12"
              >

                <div
                  style="display:flex; justify-content:flex-end; padding-right: 10px; width: 30%; align-items:center;"
                >
                  <p style="font-size: 13px; font-weight:bold">Sender:</p>
                </div>

                <div
                  style="display:flex; justify-content:flex-start; padding-left: 20px; flex: 1; align-items:center;"
                >
                  <p style="font-size: 13px;">{{data}}</p>
                </div>

              </div>

              <div
                style="display:flex; flex-direction:row; width: 100%;  align-items:center; padding-top:6px"
                class="card col-sm-12"
              >

                <div
                  style="display:flex; justify-content:flex-end; padding-right: 10px; width: 30%; align-items:center;"
                >
                  <p style="font-size: 13px; font-weight:bold">Receiver:</p>
                </div>

                <div
                  style="display:flex; justify-content:flex-start; padding-left: 20px; flex: 1; align-items:center;"
                >
                  <p style="font-size: 13px;"></p>
                </div>

              </div>

              <div
                style="display:flex; flex-direction:row; width: 100%;  align-items:center; padding-top:6px"
                class="card col-sm-12"
              >

                <div
                  style="display:flex; justify-content:flex-end; padding-right: 10px; width: 30%; align-items:center;"
                >
                  <p style="font-size: 13px; font-weight:bold">Date:</p>
                </div>

                <div
                  style="display:flex; justify-content:flex-start; padding-left: 20px; flex: 1; align-items:center;"
                >
                  <p style="font-size: 13px;"></p>
                </div>

              </div>

              <div
                style="display:flex; flex-direction:row; width: 100%;  align-items:center; padding-top:6px"
                class="card col-sm-12"
              >

                <div
                  style="display:flex; justify-content:flex-end; padding-right: 10px; width: 30%; align-items:center;"
                >
                  <p style="font-size: 13px; font-weight:bold">Time:</p>
                </div>

                <div
                  style="display:flex; justify-content:flex-start; padding-left: 20px; flex: 1; align-items:center;"
                >
                  <p style="font-size: 13px;"></p>
                </div>

              </div>

              <div
                style="display:flex; flex-direction:row; width: 100%;  align-items:center; padding-top:6px"
                class="card col-sm-12"
              >

                <div
                  style="display:flex; justify-content:flex-end; padding-right: 10px; width: 30%; align-items:center;"
                >
                  <p style="font-size: 13px; font-weight:bold">Message Type:</p>
                </div>

                <div
                  style="display:flex; justify-content:flex-start; padding-left: 20px; flex: 1; align-items:center;"
                >
                  <p style="font-size: 13px;"></p>
                </div>

              </div>

              <div
                style="display:flex; flex-direction:row; width: 100%;  align-items:center; padding-top:6px"
                class="card col-sm-12"
              >

                <div
                  style="display:flex; justify-content:flex-end; padding-right: 10px; width: 30%; align-items:center;"
                >
                  <p style="font-size: 13px; font-weight:bold"> In/Out:</p>
                </div>

                <div
                  style="display:flex; justify-content:flex-start; padding-left: 20px; flex: 1; align-items:center;"
                >
                  <p style="font-size: 13px;"></p>
                </div>

              </div>

            </div>

            <div class="col-sm-12">
              <h5 style="color: #F3A701;">SWIFT MESSAGE</h5>
              <div style="display:flex; height:444px " class="card col-sm-12">

                <p></p>
              </div>
            </div>

          </div>

          <div
            style="display: flex; flex-direction:row; justify-content:center; padding-left: 12px; padding-right: 13px; align-items:center; padding-bottom: 10px; padding-top: 13px; margin-top: -10px;"
            class="card"
          >
            <a style="margin-right: 20px; cursor:pointer; "><h6
                style="color: #F3A701; font-weight:bold;"
              >GET IMAGE</h6></a>
            <a style="margin-right: 20px; cursor:pointer;"><h6
                style="color: #F3A701; font-weight:bold;"
              >GET PDF</h6></a>
            <a style="margin-left: 20px; cursor:pointer;"><h6
                style="color: #F3A701; font-weight:bold;"
              >E-MAIL PDF</h6></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{{! <div class="col-md-12">
                <div class="card" >
                    <div class="card-header">
                        <h5 style="color: #1976D2; font-size: 20px;">SWIFT MESSAGES</h5>
                    </div>
				</div>
                <div class="bt-wizard" id="tabswizard">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="#tabs-t-tab1" class="nav-link rounded-0" data-toggle="tab">Messages</a></li>
                        <li class="nav-item"><a href="#tabs-t-tab2" class="nav-link rounded-0" data-toggle="tab">Message Detail</a></li>
                       
                    </ul>
                    <div class="tab-content card">
                        <div class="pt-1 bg-primary"></div>
                        <div style="display: flex; justify-content:center; padding:80px" class="tab-pane card-body pt-4 active show" id="tabs-t-tab1">
                            <div style="margin-top: 50px; margin-bottom: 30px;" class="col-sm-6 p-4">
                                          
                                        <select style="height: 70px;" class="form-control js-example-placeholder-multiple col-sm-12">
                                            <option style="font-size: 70px;" value="0">Select Message</option>
                                            
                                            <option value="mt103">MT103</option>
                                            <option value="mt104">MT104</option>
                                            <option value="mt105">MT105</option>
                                        </select>
                                       
                                    </div>
                        </div>
                        <div class="tab-pane card-body pt-4" id="tabs-t-tab2">
                            <form>
                                <div class="form-group row">
                                    <label for="tabs-t-sate" class="col-sm-3 col-form-label">State</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="tabs-t-sate">
                                            <option>Select State</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="tabs-t-address" class="col-sm-3 col-form-label">Address</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="tabs-t-address" rows="3" spellcheck="false"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                       
                        <div class="row card-footer justify-content-between mx-0 btn-page">
                            <div class="col-sm-6 pl-0">
                                <a href="#!" class="btn btn-primary button-previous">Previous</a>
                            </div>
                            <div class="col-sm-6 text-md-right pr-0">
                                <a href="#!" class="btn btn-primary button-next">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> }}